/*To have the fields stacked vertically instead of in-line*/
mat-form-field {
  display: flex;
}

mat-slider {
  display: flex;
  margin: 0 40% 0 0;
}

.cancelBttn {
  margin: 0 1rem;
}

.hint {
  color: grey;
}
