/*To have the fields stacked vertically instead of in-line*/
mat-form-field {
  display: flex;
}

mat-slider {
  display: flex;
  margin: 0 40% 0 0;
}

.stepperButtns {
  margin-top: 5vh;
  margin-right: 10px;
}
