<mat-accordion *ngIf="movies.length > 0">
  <mat-expansion-panel *ngFor="let movie of movies">
    <mat-expansion-panel-header>
      {{ movie.title }}
    </mat-expansion-panel-header>
    <ul>
      <li>Rating:  {{ movie.rating }}</li>
      <li>Description:  {{ movie.description }}</li>
      <li>Date Entered: {{ formatDate(movie.dateEntered) }} </li>
    </ul>
    <mat-action-row>
      <button mat-button color="primary" (click)="onEditMovie(movie.id)">EDIT</button>
      <button mat-button color="warn" (click)="onDeleteMovie(movie.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
