<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion *ngIf="movies.length > 0 && this.isLoading === false" [multi]="false">
  <mat-expansion-panel *ngFor="let movie of movies">
    <mat-expansion-panel-header>
      {{ movie.title }}
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item>Rating:  {{ movie.rating }}</mat-list-item>
      <mat-list-item>Description:  {{ movie.description }}</mat-list-item>
      <mat-list-item>Last Updated: {{ formatDate(movie.dateEntered) }} </mat-list-item>
    </mat-list>
    <mat-action-row>
      <button mat-button color="primary" (click)="onEditMovie(movie.id)">EDIT</button>
      <button mat-button color="warn" (click)="onDeleteMovie(movie.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
