mat-spinner {
    margin: auto;
}

mat-icon {
    margin-right: 1%;
}

mat-list {
    display: block;
}

.img-container {
  width: 80%;
  margin: 0 20% 0;
}

.poster {
    display: inline-block;
    width: 20vw;
    position: relative;
    min-width: 150px;
    margin-bottom: 20px;
    align-self: center;
}
