<div class="search-container">
  <app-search-results
    class="previous-Selection"
    *ngIf="edit.mode === true && this.edit.movie.savedSearchResult != null"
    [sr]="this.edit.movie.savedSearchResult"></app-search-results>
  <br>
  <app-search-entry (searchInput)="getResults($event)"></app-search-entry>
  <br>
  <!--    fxLayout.lt-lg="row wrap"-->
  <div
    class="displayResults"
    fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="15px grid" fxLayoutAlign="start">
    <div
      class="gridWrapper"
      fxFlex="20%" fxFlex.lg="40%" fxFlexOffset="10%"
      *ngFor="let result of results">
      <app-search-results [sr]="result"></app-search-results>
    </div>
  </div>
</div>
